.playArea {
  display: flex;
  flex-direction: column;
  height: 74vh;
  margin: 0 20px;
}

.main {
  display: flex;
  padding-bottom: 0;
  height: 70%;
}

.computer,
.player {
  width: 40vw;
  height: 80%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.player .score {
  align-self: flex-end;
}

.initialIcon {
  color: rgba(242, 193, 71, 0.94);
  width: 60%;
  height: 60%;
  margin-left: 120px;
  padding-top: 20px;
}

@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.initialIcon.hover {
  animation: sway 1s ease infinite;
}

.timer {
  width: 20vw;
  height: 80%;
  margin: 0 20px;
  color: rgba(242, 193, 71, 0.94);
  text-shadow: 4px 4px 7px rgba(242, 193, 71, 0.729);
  font-size: 300px;
  text-align: center;
}

@keyframes win {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0, 0);
  }
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 80%;
  margin: 0 20px;
  color: rgba(242, 193, 71, 0.94);
  text-shadow: 4px 4px 7px rgba(242, 193, 71, 0.729);
  font-size: 100px;
  text-align: center;
  animation: win 3s ease infinite;
}

.score {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 3%;
  background: rgb(193, 200, 246);
  width: 210px;
  height: 110px;
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .initialIcon {
    color: white;
    width: 60%;
    height: 60%;
    margin-left: 80px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 750px) {
  .initialIcon {
    color: white;
    width: 60%;
    height: 60%;
    padding-right: 30px;
    justify-content: center;
  }

  @keyframes win {
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(0.5, 0.5);
    }
    100% {
      transform: scale(0, 0);
    }
  }

  .timer {
    width: 20vw;
    height: 80%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200px;
    text-align: center;
  }

  .playArea {
    display: flex;
    flex-direction: column;
    height: 74vh;
    margin: 0;
  }

  .computer,
  .player {
    width: 40vw;
    height: 80%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 520px) {
  .timer {
    width: 20vw;
    height: 80%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    text-align: center;
  }

  @keyframes win {
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(0.2, 0.2);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  .winner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80%;
    margin: 0 5px;
    color: white;
    font-size: 100px;
    text-align: center;
    animation: win 3s ease infinite;
  }

  .initialIcon {
    color: white;
    width: 60%;
    height: 60%;
    margin: 50px;
  }

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: bisque;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 380px) {
  .timer {
    width: 20vw;
    height: 80%;
    margin: 30px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    text-align: center;
  }

  @keyframes win {
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(0.2, 0.2);
    }
    100% {
      transform: scale(0, 0);
    }
  }
  .winner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80%;
    margin: 30px 5px;
    color: white;
    font-size: 100px;
    text-align: center;
    animation: win 3s ease infinite;
  }

  .initialIcon {
    color: white;
    width: 60%;
    height: 60%;
    margin: 50px;
  }
}
