.main {
  display: flex;
  height: 60vh;
}

.computer,
.player {
  width: 40vw;
  height: 100%;
  margin: 0 20px;
  border: 2px solid beige;
  display: flex;
  flex-direction: column;
}

.initialIcon {
  color: antiquewhite;
  width: 50%;
  height: 50%;
  margin: 50px 120px;
}

@keyframes sway {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.initialIcon:hover {
  animation: sway 1s ease infinite;
}

.timer {
  width: 20vw;
  margin: 0 20px;
  border: 2px solid beige;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background: bisque;
  width: 110px;
  height: 110px;
  font-size: 30px;
  font-weight: 600;
}
